.content {
  position: relative;
  overflow: hidden;
  width: 90%;
  margin: auto;
}

.menu {
  display: flex;
  transform-style: preserve-3d;
}

.menuItem {
  opacity: 0;
  position: absolute;
  width: 100%;
  padding: var(--space-m) var(--space-xl);
  transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
}

.menuItem.initial,
.menuItem.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}
.menuItem.prev,
.menuItem.next {
  z-index: 100;
}

.menuItem.prev {
  transform: translateX(-100%);
}

.menuItem.next {
  transform: translateX(100%);
}

.menuItemInner {
  color: var(--textColor);
  height: 200px;
  font-size: 3rem;
  position: relative;
  background-color: var(--mainColor);
  border: 2px solid var(--borderColor);
  display: flex;
  align-items: center;
  justify-content: center;
}
